# Supabase — get these from your project settings at supabase.com
NEXT_PUBLIC_SUPABASE_URL=https://siymoxhybvxpkwyktmkr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNpeW1veGh5YnZ4cGt3eWt0bWtyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU5OTU3NDcsImV4cCI6MjA5MTU3MTc0N30.ubHv1rsfyuA7Z_mft_zGRuBVH71srutsYlkvkeE9RgY

# App config
NEXT_PUBLIC_CAFE_NAME=Roni's Pizza
NEXT_PUBLIC_CURRENCY=Rs